/* CSS Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    border: 1px solid black;
}

/* Sizing and spacing text */
html{
    font-size: 62.5%;
    background-color: #F7EFFF;
}

body{
    font-size: 1.8rem;
    color: #212F3C;
}

h1, h2, h3, p, a{
    text-align: center;
    letter-spacing: 1.5px;
}

h1{
    font-size: 5rem;
    padding:3%;
}

h2{
    font-size: 3.5rem;
}

h3{
    font-size: 3rem;
    padding:1%;
}

p{
    font-size:2.5rem;
}

.linkdin p{
    font-size: 1.6rem;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

.btm-btn a{
    font-size: 1.6rem;
}

/* Header Section */
nav{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(99, 74, 109);
    color: whitesmoke;
    padding: 1% 2%;
}

.top {
    width:100%;
    position: fixed;
}

.name{
    width: 45%;
    display:flex;
    justify-content:flex-start;
}

.buttons{
    width: 60%;
    display:flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    color: whitesmoke;
}

.buttons a, .btm-btn a {
    padding: 1% 2%;
    transition: 3s;
    border: 4px solid #322d99;
    border-radius: 20%;
    background-color: #322d99;
}

.buttons a:hover, .btm-btn a:hover{
    background-color: #F7EFFF;
    color: #212F3C;
}

/* Top Section */
#name{
    width:100%;
    padding: 20% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name div{
    width:75%;
}

/* Project Section */
.md-img {
    background-size: cover;
    background-repeat: no-repeat;
}

.all-projects{
    display:flex;
    justify-content: center;
    align-items:space-evenly;
    flex-wrap: wrap;
}

.text, .island, .bakery, .tree, .travel, .book, .plant {
    width: 30%;
    margin:1%;
}

.island,
.bakery,
.tree,
.travel,
.book,
.plant {
    max-height: 400px;
}

.text h3 a{
    color: #212F3C;
}

.island img,
.bakery img,
.tree img,
.travel img,
.book img,
.plant img {
    width: 100%;
    height: 100%;
}

/* Footer */
footer {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(99, 74, 109);
    padding: 2%;
}

.linkdin {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 4vh;
}

.linkdin p{
    padding-right: 1%;
    height:100%;
    display: flex;
    align-items: center;
}

.linkdin a, .linkdin img{
    display:flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.btm-btn {
    display: flex;
    justify-content: center;
    width: 30%;
    padding-top: 1%;
}

.btm-btn a {
    text-align: center;
}

/* Responsive Design */
/* 1920px or less */
@media(max-width:1929px){
    html{
        font-size:125%;
    }
}

/* 1366px or less */
@media(max-width:1366px){
    html{
        font-size: 100%;
    }
}

/* 860px or less */
@media(max-width: 860px){
    html{
        font-size: 50%;
    }
    nav{
        flex-wrap:wrap;
    }
    .name{
        width:100%;
        justify-content: center;
    }
    .buttons{
        width: 100%;
    }
    #name{
        padding-top:25%;
    }
    .island,
    .bakery,
    .tree,
    .travel,
    .book,
    .plant {
        height: 25vh;
    }
}

/* 500px or less */
@media(max-width: 500px){
    html{
        font-size: 40%;
    }
    .buttons{
        margin: auto 40%;
        flex-wrap:wrap;
    }
    .buttons a, .btm-btn a{
        margin: 3% auto;
        padding: 2% 4%;
    }
    #name{
        padding-top: 50%;
    }
    .text,
    .island,
    .bakery,
    .tree,
    .travel,
    .book,
    .plant {
        margin: 1% 1.75%;
        width:45%;
    }
    .one{
        order:1;
    }
    .two{
        order:2;
    }
    .three{
        order:3;
    }
    .four{
        order:4;
    }
    .five{
        order:5;
    }
    .six{
        order:6;
    }
    .seven{
        order:7;
    }
    .eight{
        order:8;
    }
    .nine{
        order:9;
    }
    .ten{
        order:10;
    }
    .eleven{
        order:11;
    }
    .twelve{
        order:12;
    }
}

/* 360px or less */