/* CSS Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    /* border: 1px solid black; */
}

/* Sizing and spacing text */
html{
    font-size: 62.5%;
    background-color: #F7EFFF;
}

body{
    font-size: 1.8rem;
    color: #212F3C;
}

h1, h2, h3, p{
    text-align: center;
    letter-spacing: 1.5px;
}

h1{
    font-size: 5rem;
    padding:3%;
}

h2{
    font-size: 3.5rem;
}

h3{
    font-size: 3rem;
    padding:1%;
}

p{
    font-size:2.5rem;
}

/* Header Section */
nav{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(99, 74, 109);
    color: whitesmoke;
    padding: 2% 2%;
}

.top {
    width:100%;
    position: fixed;
}

.name{
    width: 70%;
    display:flex;
    justify-content:flex-start;
}

.buttons{
    width: 30%;
    display:flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    color: whitesmoke;
}

a {
    padding: 2%;
}

/* Top Section */
#name{
    width:100%;
    padding: 20% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name div{
    width:75%;
}

/* Project Section */
.md-img {
    background-size: cover;
    background-repeat: no-repeat;
}

.all-projects{
    display:flex;
    justify-content: center;
    align-items:space-evenly;
    flex-wrap: wrap;
}

.text, .island, .bakery, .tree, .travel, .book, .plant {
    width: 30%;
    margin:1%;
}

.text{
    height:10vh;
}

.island,
.bakery,
.tree,
.travel,
.book,
.plant {
    height: 50vh;
}

.island {
    background-image: url('../images/island.jpeg');
}

.bakery{
    background-image: url(../images/building-w:-patio.jpeg);
}

.tree {
    background-image: url(../images/tree.jpeg);
}

.travel {
    background-image: url(../images/sunset-top-buildings.jpeg);
}

.book{
    background-image: url(../images/book.jpeg);
}

.plant{
    background-image: url(../images/pink-flowers.jpeg);
}

/* Footer */

.bottom{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btm-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}